.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: var(--z-contact);
  padding-top: 130px;
  padding-bottom: 30px;
  width: 100%;
  background: var(--primary4);

  span {
    color: var(--primary1);
  }



  &__decor {
    position: absolute;
    left: -7rem;
    top: 0;

    @include big-desktop-110 {
      left: -11rem;
    }

    @include big-desktop-125 {
      max-width: 780px;
    }

    @include big-desktop {
      left: -20rem;
      top: 1rem;
    }

    @include big-desktop-150 {
      left: -13rem;
      top: 0;
    }

    @include tablet {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @include big-desktop-125 {
      gap: 20px;
    }

    @include big-desktop {
      grid-template-columns: 40% 60%;
      gap: 30px;
    }

    @include mac-desktop {
      display: flex;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      display: none;
    }
  }

  &__contact {
    position: relative;
    z-index: var(--z-footer-decor);

    ul {
      @include mobile {
        display: flex;
        column-gap: 80px;
        flex-wrap: wrap;
        row-gap: 0;
      }
    }

    ul > li {
      &:last-child {
        margin-top: 100px;

        a {
          position: relative;
          line-height: 1.1;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--primary1);
            transition: all 0.2s ease;
          }
        }

        @include tablet {
          margin-top: 50px;
        }

        @include mobile {
          order: 2;
          margin-top: 0;
        }
      }

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }
    }

    ul > li > a {
      font-family: "Inter";
      font-weight: 300;
      font-size: 22px;
      line-height: 200%;
      color: var(--primary1);

      @include big-desktop-125 {
        font-size: 18px;
      }

      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 14px;
      }

      @include hover {
        color: var(--primary3);

        &::after {
          background-color: var(--primary3);
        }
      }
    }
  }

  &__social {
    padding-bottom: 20px;

    .subtitle {
      display: block;
      margin-bottom: 26px;
      font-family: "Inter";
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;
      color: var(--primary1);

      @include big-desktop-125 {
        font-size: 18px;
      }

      @include mobile {
        font-size: 14px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 34px;

      @include mobile {
        gap: 30px;
      }
    }

    ul > li > a > svg {
      width: 32px;
      height: 32px;
      fill: var(--primary1);

      @include mobile {
        width: 28px;
        height: 28px;
      }

      @include hover {
        fill: var(--primary3);
      }
    }

    @include mobile {
      padding-bottom: 0;
    }
  }

  &__form {
    .title {
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 54px;
      text-transform: uppercase;
      color: var(--primary1);

      @include big-desktop-110 {
        font-size: 46px;
      }

      @include big-desktop-125 {
        font-size: 36px;
      }

      @include big-desktop {
        margin-bottom: 20px;
        font-size: 30px;
      }

      @include tablet {
        font-size: 46px;
      }

      @include mobile {
        margin-bottom: 20px;
        font-size: 24px;
      }
    }

    .text {
      p {
        margin: 0 0 70px;
        max-width: 814px;
        font-weight: 300;
        font-size: 22px;
        color: var(--primary1);

        @include big-desktop-110 {
          margin: 0 0 40px;
        }

        @include big-desktop-125 {
          margin: 0 0 20px;
          font-size: 18px;
        }

        @include tablet {
          margin-bottom: 50px;
          max-width: 634px;
          font-size: 18px;
        }

        @include mobile {
          margin-bottom: 30px;
          font-size: 16px;
        }
      }
    }

    @include tablet {
      width: 100%;
    }
  }

  &__description {
    display: none;

    ul {
      margin-top: -8px;
    }

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 50px;
      gap: 15px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }

  &__inputs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 60px;
    gap: 20px;

    .success {
      position: absolute;
      left: 0;
      bottom: 1rem;
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;
      color: #1bc679;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      @include mobile {
        bottom: 0.3rem;

        // text-align: center;
        font-size: 16px;
      }
    }

    input,
    textarea {
      outline: none;
      border: none;
      border-bottom: 1px solid #bebebe;
      border-radius: 0;
      padding-bottom: 18px;
      width: 100%;
      font-family: "Inter";
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;
      color: var(--primary1);
      background: none;
      resize: none;

      &::placeholder {
        color: var(--primary1);
        opacity: 0.4;
        transition: all 0.2s ease;
      }

      &:-webkit-autofill {
        -webkit-text-fill-color: var(--primary1) !important;
        color: var(--primary1) !important;
        -webkit-transition: background-color 5000s ease-in-out 0s;
        transition: background-color 5000s ease-in-out 0s;
      }

      @include big-desktop-110 {
        padding-bottom: 10px;
        font-size: 16px;
      }

      @include mobile {
        padding-bottom: 10px;
        padding-left: 0;
        font-size: 16px;
      }

      @include hover {
        &::placeholder {
          opacity: 0.2;
        }
      }
    }

    @include big-desktop-110 {
      padding-bottom: 40px;
    }

    @include big-desktop {
      gap: 10px;
    }

    @include tablet {
      gap: 20px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      padding-bottom: 60px;
      gap: 20px;
    }
  }

  &__input {
    position: relative;

    .warning {
      position: absolute;
      right: 0;
      top: 4px;
      font-weight: 300;
      font-size: 14px;
      line-height: 160%;
      color: var(--primary3);
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      @include mobile {
        top: 0;
      }
    }

    input,
    textarea {
      &:read-only {
        opacity: 0.7;
      }
    }

    &:last-child {
      grid-column: 1 / 2 span;

      textarea {
        height: 50px;

        @include big-desktop-110 {
          overflow: hidden;
          height: 37.4px;
        }

        @include mobile {
          height: 39px;
        }
      }
    }

    &.input-warning {
      input,
      textarea {
        border-bottom: 1px solid var(--primary3);
        color: var(--primary3);

        &::placeholder {
          color: var(--primary3);
          opacity: 1;
        }
      }
    }
  }

  &__file {
    margin-bottom: 40px;

    input {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      gap: 20px;

      .button {
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        width: 60px;
        height: 60px;
        min-width: 60px;
        background: #3d3d3d;
        transition: all 0.2s ease;

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 14px;
          height: 20px;
          fill: var(--primary1);
          transform: translate(-50%, -50%);
        }

        @include mobile {
          width: 50px;
          height: 50px;
          min-width: 50px;
        }
      }

      .file-input {
        font-weight: 300;
        font-size: 18px;
        text-decoration-line: underline;
        color: var(--primary1);
        transition: all 0.2s ease;
        cursor: pointer;
        text-underline-offset: 4px;

        @include mobile {
          font-size: 14px;
        }
      }

      @include hover {
        .button {
          background: var(--primary3);
        }

        .file-input {
          color: var(--primary3);
        }
      }
    }

    @include big-desktop {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--button {
      @include mobile {
        display: none;
      }
    }

    &--box {
      display: flex;
      align-items: center;
      gap: 40px;

      .button {
        border-radius: 100px;
        padding: 13px 44px 16px;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.4;
        color: var(--primary2);
        background: var(--primary1);

        @include mobile {
          padding: 15px 0;
          width: 100%;
          font-size: 16px;
        }

        @include hover {
          color: var(--primary1);
          background: var(--primary3);
        }
      }

      .confirm {
        max-width: 438px;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6;

        span {
          color: #b5b5b5;
          opacity: 0.5;
        }

        a {
          margin-left: 0.5em;
          color: var(--primary1);
          opacity: 0.5;

          @include hover {
            opacity: 1;
          }
        }

        @include mobile {
          font-size: 14px;
        }
      }

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }
  }

  .button--up {
    position: relative;
    display: block;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    min-width: 60px;
    background: #3d3d3d;

    i {
      position: absolute;
      left: 50%;
      top: 55%;
      display: inline-block;
      border: solid var(--primary1);
      border-width: 0 2px 2px 0;
      padding: 4px;
      transform: translate(-50%, -50%) rotate(-135deg);
      transition: all 0.2s ease;

      @include mobile {
        border-width: 0 1px 1px 0;
        padding: 3px;
      }
    }

    @include mobile {
      width: 50px;
      height: 50px;
      min-width: 50px;
    }

    @include hover {
      background: var(--primary3);
    }
  }

  &__copy {
    display: block;

    &--text {
      font-weight: 300;
      font-size: 16px;
      opacity: 0.5;

      @include mobile {
        display: block;
        max-width: 60%;
        font-size: 13px;
      }
    }

    &--button {
      display: none;

      @include mobile {
        display: block;
      }
    }

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @include tablet {
    position: relative;
    left: auto;
    bottom: auto;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  @include mobile {
    padding-top: 50px;
  }
}

.button-footer-submit {
  &:disabled {
    color: var(--primary1);
    background: var(--primary2);
    cursor: default;

    @include hover {
      color: var(--primary1);
      background: var(--primary2);
    }
  }
}
