<div class="agency">
	<div class="agency__container">
		<div class="projectMain">
			<div class="projectMain__fon">
			</div>
			<div class="projectMain__desk">
				<video id="bigVideo" preload="metadata" loop muted playsinline autoplay src="./video/video-1.mp4"
					type="video/mp4">
				</video>
			</div>
			<div class="projectMain__tablet">
				<video id="mobileVideo" preload="metadata" loop muted playsinline poster="./img/image-mobile-1.jpg"
					src="./video/video-1.mp4" type="video/mp4" alt="video">
				</video>
			</div>
			<div class="container projectMain__container">

				<div class="projectMain__block">
					<div class="titleComponent agency">
						<h1>Формируем лучший опыт взаимодействия с брендом</h1>
					</div>
					<div class="container--start">
						<div class="breadcrumb__container">
							<div class="breadcrumbs">
								<span class="first-item">
									<a href="#">Главная</a>
								</span>
								<span class="separator">-</span>
								<span class="last-item">Агенство</span>
							</div>
						</div>
					</div>
					<button class="buttonComponent commerce" data-modal-btn>
						Получить коммерческое предложение
					</button>
				</div>
			</div>
		</div>
		<div class="sectionAgency">
			<div class="container">
				<div class="textComponent center">
					<p>
						Добавил возможность добавлять описание. Пятно застройки находиться
						в непосредственной близости к знаменитом Академгородку — совершенно уникальной локации и
						соответсвенно с
						уникальной целевой аудитории. Для начала мы выделили 3 сегмента потребителей и общие для них
						мотивы. Для
						формирования стратегии мы провели совместный
						с девелоперов воркшоп. Было выбрано позиционирование «особое место для особых людей», которое
						получило
						развитие в креативной концепции «Жизнь за пределом обычного».
					</p>
				</div>
				<div class="sectionClient">
					<div class="titleComponent primary">
						<h4>
							Клиенты
						</h4>
					</div>
					<div class="sectionClient__box short">
						<div class="item">
							<img src="./img/client-1.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-2.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-3.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-4.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-5.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-6.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-7.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-8.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-9.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-10.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-11.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-12.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-13.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-14.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-15.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-1.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-2.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-3.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-4.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-5.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-1.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-2.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-3.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-4.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-5.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-1.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-2.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-3.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-4.png" alt="">
						</div>
						<div class="item">
							<img src="./img/client-5.png" alt="">
						</div>
					</div>
					<button class="buttonComponent also">
						<span class="also">Показать еще</span>
						<span class="return">Свернуть</span>
					</button>


				</div>
				<a href="" class="linkComponent image-center">
					<div class="fon"></div>
					<div class="box">
						<span class="title">услуги</span>
					</div>
					<img src="./img/image-1720-5.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>