<div class="error">
	<div class="error__container">
		<div class="container">
			<div class="error__content">
				<div class="error__left">
					<div class="subtitleComponent error">
						<h4>
							СТРАНИЦА НЕ НАЙДЕНА
						</h4>
					</div>
					<div class="textComponent error">
						<p>
							К сожалению данная страница не найдена либо
							не существует, попробуйте перейти в проекты или посмотреть другие страницы сайта.
						</p>
					</div>
					<a href="home.html" class="btn-reset buttonComponent secondary">
						На главную
					</a>
				</div>
				<div class="error__right">
					<svg class="" viewBox="0 0 890 430">
					  <use xlink:href="img/sprite.svg#icon-error"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>