<div class="footer-clear" id="footer-trigger"></div>
<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__content">
        <div class="footer__left">
          <div class="footer__contact">
            <ul>
              <li><a href="mailto:sg@dsone.ru">sg@dsone.ru</a></li>
              <li><a href="tel:+7-812-313-24-92">+7 (812) 313-24-92</a></li>
              <li><a download target="_blank" href="./document/doc-1.pdf">Скачать бриф</a></li>
            </ul>
          </div>
          <div class="footer__decor">
            <img src="./img/svg/image-footer.svg" class="image" width="" height="" alt="">
          </div>
          <div class="footer__social">
            <span class="subtitle">
              Подпишитесь на наши соц. сети
            </span>
            <ul>
              <li>
                <a target="_blank" href="#">
                  <svg class="" viewBox="0 0 32 32">
                    <use xlink:href="img/sprite.svg#icon-tg"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a target="_blank" href="#">
                  <svg class="" viewBox="0 0 32 32">
                    <use xlink:href="img/sprite.svg#icon-dzen"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a target="_blank" href="#">
                  <svg class="" viewBox="0 0 32 32">
                    <use xlink:href="img/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="footer__form">

          <div class="title">
            Связаться с нами
          </div>
          <div class="text">
            <p>
              Если вы хотите рассказать нам о проекте, или просто сказать привет, напишите нам!
            </p>
          </div>
          <div class="footer__description">
            <div class="footer__contact">
              <ul>
                <li><a href="mailto:sg@dsone.ru">sg@dsone.ru</a></li>
                <li><a href="tel:+7-812-313-24-92">+7 (812) 313-24-92</a></li>
                <li><a download target="_blank" href="./document/doc-1.pdf">Скачать бриф</a></li>
              </ul>
            </div>
            <div class="footer__social">
              <span class="subtitle">
                Подпишитесь на наши соц. сети
              </span>
              <ul>
                <li>
                  <a target="_blank" href="#">
                    <svg class="" viewBox="0 0 32 32">
                      <use xlink:href="img/sprite.svg#icon-tg"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="#">
                    <svg class="" viewBox="0 0 32 32">
                      <use xlink:href="img/sprite.svg#icon-dzen"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="#">
                    <svg class="" viewBox="0 0 32 32">
                      <use xlink:href="img/sprite.svg#icon-vk"></use>
                    </svg>
                  </a>
                </li>

              </ul>
            </div>
          </div>
          <form class="formComponent">
            <div class="footer__inputs">
              <div class="success">
                Спасибо за обращение мы свяжемся с вами
              </div>
              <div class="footer__input">
                <input name="name" type="text" placeholder="Имя*">
                <span class="warning">Неверное значение</span>
              </div>
              <div class="footer__input">
                <input name="company" type="text" placeholder="Компания*">
                <span class="warning">Неверное значение</span>
              </div>
              <div class="footer__input">
                <input name="email" type="text" placeholder="E-mail*">
                <span class="warning">Неверное значение</span>
              </div>
              <div class="footer__input">
                <input name="tel" type="tel" placeholder="Телефон">
                <span class="warning">Неверное значение</span>
              </div>
              <div class="footer__input">
                <textarea name="textarea" type="text" placeholder="Описание задачи*" /></textarea>
                <span class="warning">Неверное значение</span>
              </div>
            </div>
            <div class="footer__file">
              <input type="file" id="file">
              <label for="file">
                <span class="btn-reset button">
                  <svg class="" viewBox="0 0 14 20">
                    <use xlink:href="img/sprite.svg#icon-pin"></use>
                  </svg>
                </span>
                <span class="file-input">
                  Прикрепить файл с дополнительной информацией
                </span>
              </label>
            </div>
            <div class="footer__row">
              <div class="footer__row--box">
                <button class="btn-reset button button-footer-submit" type="submit">Отправить</button>
                <span class="confirm">
                  <span>Нажимая кнопку отправить, вы соглашаетесь с нашей</span><a href="policy.html">политикой
                    конфиденциальности</a>
                </span>
              </div>
              <div class="footer__row--button">
                <a href="#top" class="btn-reset button--up">
                  <i></i>
                </a>
              </div>

            </div>
          </form>

        </div>

      </div>
      <div class="footer__copy">
        <span class="footer__copy--text">Все материалы являются объектом авторского права ООО «____». 2023 год.</span>
        <span class="footer__copy--button">
          <a href="#top" class="btn-reset button--up">
            <i></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>