<header class="header header--white">
  <div class="header__container">
    <div class="container">
      <div class="header__content">
        <div class="header__left">
          <a href="home.html">
            <svg class="" viewBox="0 0 106 44">
              <use xlink:href="img/sprite.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <div class="header__right">
          <ul>
            <li>
              <a href="mailto:sg@dsone.ru">sg@dsone.ru</a>
            </li>
            <li>
              <a href="tel:+7-812-313-24-92">+7 (812) 313-24-92</a>
            </li>
          </ul>
          <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

</header>
