<div class="home">
  <div class="home__container">
    <div class="projectMain">
      <div class="projectMain__fon"></div>
      <div class="projectMain__desk">
        <video
          id="bigVideo"
          preload="metadata"
          loop
          muted
          playsinline
          src="./video/video-1.mp4"
          type="video/mp4"
        ></video>
      </div>
      <div class="projectMain__tablet">
        <video
          id="mobileVideo"
          preload="metadata"
          loop
          muted
          playsinline
          poster="./img/image-mobile-2.jpg"
          src="./video/video-1.mp4"
          type="video/mp4"
          alt="video"
        ></video>
      </div>
      <div class="container projectMain__container">
        <div class="projectMain__block">
          <button class="buttonComponent commerce mobile" data-modal-btn>
            Получить коммерческое предложение
          </button>
        </div>
      </div>
    </div>
    <div class="sectionHome">
      <div class="container">
        <div class="textComponent home">
          <p>
            Брендинговое агентство специализируется на комплексной разработке
            успешных корпоративных, товарных и ритейл брендов от построения
            стратегии бренда, разработки названия, создания логотипа, фирменного
            стиля до дизайна интерьера и рекламных коммуникаций бренда. Бренд —
            это слагаемое успеха, предопределяющее эффективность всего бизнеса.
          </p>
          <svg class="icon-fill icon-left" viewBox="0 0 32 41">
            <use xlink:href="img/sprite.svg#icon-logo-small"></use>
          </svg>
          <svg class="icon-fill icon-right" viewBox="0 0 32 41">
            <use xlink:href="img/sprite.svg#icon-logo-small"></use>
          </svg>
        </div>
      </div>
      <div class="sectionSliders">
        <section class="clients" id="clients">
          <div class="clients__container">
            <div class="clients__cont--content">
              <div class="container">
                <div class="titleComponent primary">
                  <h4>Клиенты</h4>
                </div>
              </div>
              <div class="clients__container-fluid">
                <div class="clients__cont--slide--one">
                  <div class="swiper swiper__one">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="./img/client-1.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-2.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-3.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-4.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-5.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-6.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-7.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-8.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-9.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-10.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-11.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-12.png" alt="" class="image" />
                      </div>

                      <div class="swiper-slide">
                        <img src="./img/client-14.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-15.png" alt="" class="image" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clients__cont--slide--two">
                  <div class="swiper swiper__two">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="./img/client-1.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-2.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-3.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-4.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-5.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-6.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-7.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-8.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-9.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-10.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-11.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-12.png" alt="" class="image" />
                      </div>

                      <div class="swiper-slide">
                        <img src="./img/client-14.png" alt="" class="image" />
                      </div>
                      <div class="swiper-slide">
                        <img src="./img/client-15.png" alt="" class="image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="sectionCases">
        <div class="container">
          <div class="titleComponent primary">
            <h4>кейсы</h4>
          </div>
          <div class="portfolio__content">
            <a href="#" class="itemComponent">
              <span class="itemComponent__image">
                <span class="fon"></span>
                <img
                  src="./img/image-854-1.jpg"
                  class="image"
                  width="845"
                  height="533"
                  alt=""
                />
              </span>
              <span class="itemComponent__title"> Akadem Klubb </span>
              <span class="itemComponent__category"> Креатив </span>
            </a>
            <a href="#" class="itemComponent">
              <span class="itemComponent__image">
                <span class="fon"></span>
                <img
                  src="./img/image-854-1.jpg"
                  class="image"
                  width="845"
                  height="533"
                  alt=""
                />
              </span>
              <span class="itemComponent__title"> Akadem Klubb </span>
              <span class="itemComponent__category"> Креатив </span>
            </a>
            <a href="#" class="itemComponent">
              <span class="itemComponent__image">
                <span class="fon"></span>
                <img
                  src="./img/image-854-1.jpg"
                  class="image"
                  width="845"
                  height="533"
                  alt=""
                />
              </span>
              <span class="itemComponent__title"> Akadem Klubb </span>
              <span class="itemComponent__category"> Креатив </span>
            </a>
            <a href="#" class="itemComponent">
              <span class="itemComponent__image">
                <span class="fon"></span>
                <img
                  src="./img/image-854-1.jpg"
                  class="image"
                  width="845"
                  height="533"
                  alt=""
                />
              </span>
              <span class="itemComponent__title"> Akadem Klubb </span>
              <span class="itemComponent__category"> Креатив </span>
            </a>
          </div>
          <div class="linkComponent projects">
            <a href="portfolio.html">вСЕ ПРОЕКТЫ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
