<div class="menu--always" data-menu>
	<div class="container">
		<div class="menu__content">
			<div class="menu__close">
				<button class="btn-reset burger burger--close" aria-label="Открыть меню" aria-expanded="false"
					data-close>
					<span class="burger__line--close"></span>
					<span class="burger__line--close"></span>
				</button>
			</div>
			<div class="menu__container">
				<div class="menu__container--box">
					<div class="menu__list">
						<nav class="nav-menu">
							<ul>
								<li class="menu-item"><a href="portfolio.html">Портфолио</a>
								</li>
								<li class="menu-item"><a href="services.html">Услуги</a>
								</li>
								<li class="menu-item"><a href="agency.html">Агентство</a></li>
								<li class="menu-item"><a href="contact.html">Контакты</a></li>

							</ul>
						</nav>
					</div>
					<div class="menu__description">
						<div class="menu__box">
							<ul>
								<li><a href="tel:+7-812-313-24-92">+7 (812) 313-24-92</a></li>
								<li><a href="">sg@dsone.ru</a></li>
								<li><span>Санкт-Петербург, Гражданская ул., 13-15, "Бертгольд центр"</span></li>
								<li><span>пн-пт с 9:00 до 18:00</span></li>
							</ul>

						</div>
						<span class="line"></span>
						<div class="menu__social">
							<ul>
								<li>
									<a target="_blank" href="#">
										<svg class="" viewBox="0 0 32 32">
											<use xlink:href="img/sprite.svg#icon-insta"></use>
										</svg>
									</a>
								</li>
								<li>
									<a target="_blank" href="#">
										<svg class="" viewBox="0 0 32 32">
											<use xlink:href="img/sprite.svg#icon-face"></use>
										</svg>
									</a>
								</li>
								<li>
									<a target="_blank" href="#">
										<svg class="" viewBox="0 0 32 32">
											<use xlink:href="img/sprite.svg#icon-vk-1"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
						<div class="menu__button" data-close-menu>
							<a class="menu__button--close" href="#footer-trigger">Оставить заявку</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>