<div class="policy">
	<div class="policy__container">
		<div class="container">
			<div class="policy__content">
					<h4>СОГЛАШЕНИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>
					<p>
            <a href="">Настоящая Политика конфиденциальности персональных данных (далее — Политика конфиденциальности)</a>
						действует в отношении всей информации, которую «Принимающая сторона» сайт «ИнПАД», может
						получить о «Передающей стороне» в рамках данного соглашения.
						Использование сервисов «Принимающей стороны» означает безоговорочное согласие «Передающей
						стороны» с настоящей Политикой и указанными в ней условиями обработки переданной персональной
						информации; в <a href="">случае</a> несогласия с этими условиями «Передающая сторона» должна воздержаться от
						передачи данных.
					</p>
					<h4>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h4>
					<p>
						1.1. В настоящей Политике конфиденциальности используются следующие термины:
					</p>
					<p>
						1.1.1. «Персональные данные» — любая информация, относящаяся прямо или косвенно к определенному
						или определяемому физическому лицу (субъекту персональных данных). В том числе, данные, которые
						автоматически передаются «Принимающей стороне» в процессе их использования с помощью
						установленного на устройстве «Передающей стороны» программного обеспечения, в том числе
						IP-адрес, данные файлов cookie, информация о браузере «Передающей стороны»(или иной программе, с
						помощью которой осуществляется доступ к сайту «Принимающей стороны»), технические характеристики
						оборудования и программного обеспечения, используемых «Передающей стороной»
					</p>
					<p>
						1.1.2. «Обработка персональных данных» — любое действие (операция) или совокупность действий
						(операций), совершаемых с использованием средств автоматизации или без использования таких
						средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение,
						уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
						предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
					</p>
					<p>
						1.1.5. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или
						иным получившим доступ к персональным данным лицом требование не допускать их распространения
						без согласия субъекта персональных данных или наличия иного законного основания.
					</p>
					<p>
						1.1.3. «Блокирование персональных данных» — временное прекращение обработки персональных данных
						(за исключением случаев, если обработка необходима для уточнения персональных данных)
					</p>
					<h4>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h4>
					<ul>
						<li>
							1.1. В настоящей Политике конфиденциальности используются следующие термины:
						</li>
						<li>
							1.1.1. «Персональные данные» — любая информация, относящаяся прямо или косвенно к
							определенному
							или определяемому физическому лицу (субъекту персональных данных). В том числе, данные,
							которые
							автоматически передаются «Принимающей стороне» в процессе их использования с помощью
							установленного на устройстве «Передающей стороны» программного обеспечения, в том числе
							IP-адрес, данные файлов cookie, информация о браузере «Передающей стороны»(или иной
							программе, с
							помощью которой осуществляется доступ к сайту «Принимающей стороны»), технические
							характеристики
							оборудования и программного обеспечения, используемых «Передающей стороной»
						</li>
						<li>
							1.1.2. «Обработка персональных данных» — любое действие (операция) или совокупность действий
							(операций), совершаемых с использованием средств автоматизации или без использования таких
							средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение,
							уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
							предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
							данных.
						</li>
						<li>
							1.1.5. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или
							иным получившим доступ к персональным данным лицом требование не допускать их
							распространения
							без согласия субъекта персональных данных или наличия иного законного основания.
						</li>
						<li>
							1.1.3. «Блокирование персональных данных» — временное прекращение обработки персональных
							данных
							(за исключением случаев, если обработка необходима для уточнения персональных данных)
						</li>
					</ul>

			</div>
		</div>
	</div>
</div>
