<div class="portfolio">
	<div class="portfolio__container">
		<div class="container">
			<div class="portfolio__content">
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-854-1.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Akadem Klubb
					</span>
					<span class="itemComponent__category">
						Креатив
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-2.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Челябинск ждет Evолюция
					</span>
					<span class="itemComponent__category">
						Брендинг
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-3.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Уютно там, где дом
					</span>
					<span class="itemComponent__category">
						Брендинг
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-4.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Есть, где взять!
					</span>
					<span class="itemComponent__category">
						Стратегия
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-5.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Приключения Эскобара в России
					</span>
					<span class="itemComponent__category">
						Брендинг
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-6.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Служба спасения от осенней хандры
					</span>
					<span class="itemComponent__category">
						Комплексный продукт
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-7.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Смотрите чем хотите
					</span>
					<span class="itemComponent__category">
						Креатив
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-854-1.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Akadem Klubb
					</span>
					<span class="itemComponent__category">
						Креатив
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-2.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Челябинск ждет Evолюция
					</span>
					<span class="itemComponent__category">
						Брендинг
					</span>
				</a>
				<a href="#" class="itemComponent">
					<span class="itemComponent__image">
						<span class="fon"></span>
						<img src="./img/image-845-3.jpg" class="image" width="845" height="533" alt="">
					</span>
					<span class="itemComponent__title">
						Уютно там, где дом
					</span>
					<span class="itemComponent__category">
						Брендинг
					</span>
				</a>
			</div>
		</div>
	</div>
</div>