<div class="project">
	<div class="project__container">
		<div class="projectMain">
			<div class="projectMain__fon">
			</div>
			<div class="projectMain__desk">
				<img src="./img/image-1920-1.jpg" class="image" alt="">
			</div>
			<div class="projectMain__tablet">
				<img src="./img/image-1920-1.jpg" class="image" alt="">
			</div>
			<div class="container projectMain__container">
				<div class="projectMain__block">
					<div class="container--start">
						<div class="breadcrumb__container">
							<div class="breadcrumbs">
								<span class="first-item">
									<a href="#">Главная</a>
								</span>
								<span class="separator">-</span>
								<span class="0-item">
									<a href="#">Портфолио</a>
								</span>
								<span class="separator">-</span>
								<span class="last-item">Akadem Klubb</span>
							</div>
						</div>
					</div>
					<button class="buttonComponent commerce mobile" data-modal-btn>
						Получить коммерческое предложение
					</button>
				</div>
			</div>
		</div>
		<div class="sectionProject">
			<div class="container">
				<div class="sectionAvatar">
					<div class="sectionAvatar__box">
						<div class="titleComponent avatar">
							<h1>Akadem Klubb</h1>
						</div>
						<div class="subtitleComponent avatar">
							Креатив, брендинг
						</div>
					</div>
					<div class="sectionAvatar__row">
						<div class="avatarComponent">
							<img src="./img/image-200-1.jpg" class="image" width="" height="" alt="">
							<div class="textComponent opacity">
								<span>Юлия Ахметова</span>
								<span>Директор по развитию ООО “МОСКВА-СТРОЙ”</span>
							</div>
						</div>
						<div class="sectionAvatar__info">
							<div class="textComponent opacity">
								<span>Юлия Ахметова</span>
								<span>Директор по развитию ООО “МОСКВА-СТРОЙ”</span>
							</div>
							<div class="textComponent avatar">
								<p>Мы обратились в агентство со срочной задачей. Нам было нужно за четыре недели создать
									анимационный ролик для презентации нового фирменного стиля сотрудникам компании.</p>
								<p>
									DS1 доработали наш сценарий, продумали анимацию персонажей, подобрали диктора и
									музыку. Мы получили готовый ролик точно в срок. Презентация прошла отлично! Ролик
									выполнил свою задачу на все 100!
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="textComponent center">
					<p>
						Пятно застройки находиться в непосредственной близости к знаменитом Академгородку — совершенно
						уникальной локации и соответсвенно
						с уникальной целевой аудитории. Для начала мы выделили 3 сегмента потребителей и общие для них
						мотивы.Для формирования стратегии
						мы провели совместный с девелоперов воркшоп. Было выбрано позиционирование «особое место для
						особых людей», которое получило развитие в креативной концепции «Жизнь за пределом обычного».
						Экологичность локации отобразили за счет дескриптора — «эко-квартал». В названии отразили
						скандинавский дух и искключительность проекта — Akadem Klubb.
					</p>
				</div>
				<div class="imageComponent primary">
					<img src="./img/image-1720-1.jpg" alt="">
					<img src="./img/image-1720-2.jpg" alt="">
				</div>
				<div class="textComponent center">
					<p>
						Сила бренда — в целостности и постоянстве его стратегии, визуального образа и коммуникаций. Cоздание брендов, наделенных особой индивидуальностью, энергией роста, транслирующих фундаментальные ценности, вызывающих положительный эмоциональный отклик и привязанность у аудитории — суть эффективного брендинга и ключевое преимущество брендингового агентства «Остров Свободы».
					</p>
				</div>
				<div class="imageComponent last">
					<img src="./img/image-1720-3.jpg" alt="">
				</div>
				<a href="" class="linkComponent image">
					<div class="fon"></div>
					<div class="box">
						<span class="other">следующий проект</span>
						<span class="title">Есть, где взять!</span>
						<span class="tab">Стратегия</span>
					</div>
					<img src="./img/image-1720-4.jpg" alt="">
				</a>
				<div class="linkComponent projects">
					<a href="">вСЕ ПРОЕКТЫ</a>
				</div>
			</div>

		</div>


	</div>
</div>
