<div class="services">
	<div class="services__container">
		<div class="container">
			<div class="services__content">
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								НЕЙМИНГ
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Предоставляем комплексные профессиональные услуги в сфере эффективного нейминга —
								разработки названий, подлежащих правовой защите и соответствующих всем критериям
								маркетинговой эффективности.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								ПОЗИЦИОНИРОВАНИЕ БРЕНДА
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Позиционирование бренда — это выбор и формирование брендом определенной позиции,
								понятного для потребителя
								и позволяющего качественно отстроиться от конкурентов предложения (УТП) бренда, а также
								закрепление данной позиции в сознании целевой аудитории.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								НЕЙМИНГ
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Предоставляем комплексные профессиональные услуги в сфере эффективного нейминга —
								разработки названий, подлежащих правовой защите и соответствующих всем критериям
								маркетинговой эффективности.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								ПОЗИЦИОНИРОВАНИЕ БРЕНДА
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Позиционирование бренда — это выбор и формирование брендом определенной позиции,
								понятного для потребителя
								и позволяющего качественно отстроиться от конкурентов предложения (УТП) бренда, а также
								закрепление данной позиции в сознании целевой аудитории.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								НЕЙМИНГ
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Предоставляем комплексные профессиональные услуги в сфере эффективного нейминга —
								разработки названий, подлежащих правовой защите и соответствующих всем критериям
								маркетинговой эффективности.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								ПОЗИЦИОНИРОВАНИЕ БРЕНДА
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Позиционирование бренда — это выбор и формирование брендом определенной позиции,
								понятного для потребителя
								и позволяющего качественно отстроиться от конкурентов предложения (УТП) бренда, а также
								закрепление данной позиции в сознании целевой аудитории.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								НЕЙМИНГ
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Предоставляем комплексные профессиональные услуги в сфере эффективного нейминга —
								разработки названий, подлежащих правовой защите и соответствующих всем критериям
								маркетинговой эффективности.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>
				<div class="item">
					<div class="item__left">
						<div class="subtitleComponent services">
							<h4>
								ПОЗИЦИОНИРОВАНИЕ БРЕНДА
							</h4>

						</div>
						<div class="textComponent services">
							<p>
								Позиционирование бренда — это выбор и формирование брендом определенной позиции,
								понятного для потребителя
								и позволяющего качественно отстроиться от конкурентов предложения (УТП) бренда, а также
								закрепление данной позиции в сознании целевой аудитории.
							</p>
						</div>
					</div>
					<div class="item__right">
						<div class="item__grid">
							<img src="./img/image-418-1.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-2.jpg" class="image" width="" height="" alt="">
							<img src="./img/image-418-3.jpg" class="image" width="" height="" alt="">

						</div>


					</div>

				</div>


			</div>
		</div>
	</div>
</div>
